<h3>Images</h3>
<h4>Results:</h4>
<ul>
  <li *ngIf="alprResult">Placas: {{alprResult}}</li>
  <li *ngIf="vehicleModel">Marca: {{vehicleModel}}</li>
  <li *ngIf="vehicleModel">Modelo: {{vehicleModelTrue}}</li>
  <li *ngIf="vehicleColor">Color: {{vehicleColor}}</li>
</ul>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>

  <div class="grid-item"><img src="https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car1_new_h.jpg" alt=""
                              (click)='makeRequest("https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car1_new_h.jpg" )'>
  </div>

  <div class="grid-item"><img
    src="https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car2_new.jpg" alt=""
    (click)='makeRequest("https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car2_new.jpg" )'></div>

  <div class="grid-item"><img src="https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car3_new_h_2.jpg" alt=""
                              (click)='makeRequest("https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car3_new_h_2.jpg" )'>
  </div>

  <div class="grid-item"><img src="https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car4_new.jpg" alt=""
                              (click)='makeRequest("https://res.cloudinary.com/ivandvloper/image/upload/v1600107880/car4_new.jpg" )'>
  </div>

</div>





