/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 350px;
  height: 200px;
  float: left;
  border-radius: 5px;
  padding: 0px;
  margin: 10px auto;

  align-content: center;
  align-items: center;

}

.grid-item img {
  width: 100%;

  align-self: center;
  justify-self: center;
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 640px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}
